
/* jigoshop */
.products li {
    float: left;
    margin: 0 30px 30px 0;
    padding: 0 !important;
    position: relative;
    /*width: 140px;*/
}
.full_column .products li{
    margin-right: 47px;
}
.full_column .products li.last {
    margin-right: 0;
}

.products li a img{
    display:inline-block;
    background: none;
    border-radius:0;
    border:none;
    margin: 0 0 0px 0 !important;
    padding:0;
    width:auto;
}
.products li a:hover img{
    border:none;
    width:auto;
}
div.product div.images img {
    background:#cce6fc;
    border:none;
}
.products li{
    /*width:145px;*/
    /*background-color:#e5f3ff;*/
    /*border:5px solid #e5f3ff;*/
    /*-webkit-box-shadow: 0 8px 6px -6px black;*/
    /*-moz-box-shadow: 0 8px 6px -6px black;*/
    /*box-shadow: 0 8px 6px -6px black;*/
    border-radius:5px;
    /*border:1px solid black;*/
    /*width:auto;*/
    height:210px;
    height:auto;
    border-top:5px solid transparent;
}
span.onsale {
    background:#ffae00;
}
a.button, button.button, input.button, #review_form #submit {
    background: none repeat scroll 0 0 #4e83b8;
    font-family: 'Raleway','Lucida Sans Unicode', sans-serif;
}
.products li strong {
    color: #4e83b8;
    /*border-bottom:1px solid #c9e4fe;*/
    text-align: center;
    font-size:1.2em;
    font-weight:300;
    padding-top:10px;
    margin-bottom:10px;
}
.products li .price{
    /*color: #6aa03e;*/
    display: block;
    /*float: right;*/
    font-weight: bold;
}
a.button, button.button, input.button, #review_form #submit{
    /*margin-top:30px;*/

    margin:0 auto;
    margin-bottom: 10px;
    margin-left:5px;
}
.products li .price del {
    color: #CCCCCC;
    display: block;
    font-size: 13px;
    line-height: 10px;
    padding:5px 5px 0 0;
	margin:0px;
	float:left;font-weight:normal;
}
.products li .price{
    text-align: center;
    color: #6aa03e;
    font-weight: bold;
    padding:5px 0 0 0;
    margin-right: 5px;
    font-size: 1.3em;

}
.products li:hover{
    background-color: #ffffff;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 40px rgba(0, 0, 0, 0.1) inset;
    transition: border-color .5s ease-in-out;
    -webkit-transition: border-color .5s ease-in-out;
    transition: border-color .5s left;
    -webkit-transition: border-color .5s left;
    /*border-top:5px solid #efa80f;*/
    border-top:5px solid #4e83b8;
}
div.product div.summary {
    float: left;
    margin: 0 0 0 20px;
}
div.product .summary .price{
    color: #6aa03e;
    font-weight: bold;
	width:100%;
    font-family: 'Raleway','Lucida Sans Unicode', sans-serif;
    margin-top:30px;
}
.price:before{
    content:"'  "
}

div.product .summary .from{
	float:left;
	clear:both;
	font-weight:normal;
	color:#4E83B9;
}
div.product .summary .price del{
    padding: 2px 5px 2px 0;
    font-weight:normal;
	float:right;
}
div.product .summary .price ins{
    float: left;
    color:#FF0000;
    font-size:24px;
    font-weight:normal;
	font-family:'Fjalla One', Lucida Sans Unicode;
	font-weight:bold;
	text-decoration:none;
	padding-left:15px;
	color: #FFAE00;
}
div.product .summary p{
	clear:both;
	padding-top:5px;
}
div.product .product_title
{
	font-size:2.3em;
    background-color: transparent;
    margin:0;
    padding:0;
    clear:both;
}
.products li .price ins{
    color:#FF0000;
    font-size:10px;
    margin:-5px 0 0 0;
    display:block;
    font-weight:normal;
}
.js_widget_product_price{
    color: #6aa03e;
    margin:-2px 4px 0 0;
    float:right;
}
.js_widget_product_price del{
    font-size: 0.9em;
    color: #BBB;
    padding: 0 3px 0 0;
}
.js_widget_product_price ins{
    display:none;
}
.widget .cart_list li a,
.widget .product_list_widget li a{
    border: 0; /*remove border*/
}
.widget .cart_list li,
.widget .product_list_widget li{
    border-bottom: 1px solid #C9E1EB;
}

.widget .product_list_widget li:hover{
    background-color:#4e83b8;

    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    /* ...and now override with proper CSS property */
    transition:color .2s ease-out, background 1s ease-in;
}

.product_list_widget li:hover > span{
    color:ghostwhite;
}
.product_list_widget li:hover > a span{
    color:ghostwhite;
}
.product_list_widget li:hover > .js_widget_product_price:before
{
    content:"Buy Now - ";
}

/* product tabs*/
div.product #tabs ul.tabs {
    /*background: #E8F4FE;*/
    background:transparent;
    display:none;
}
div.product #tabs ul.tabs a{
    background: #C9E4FE;
    display:none;
}
div.product #tabs .panel{
    border-color: #E8F4FE;
    padding-top:0;
    /*border:5px solid purple;*/
}

/** add cart button */
.button-alt{
    background: #4E83B8;
    font-family: 'Raleway','Lucida Sans Unicode', sans-serif;
    font-weight:300;
    padding-top:10px;
    padding-bottom:10px;
}

/**cart widget**/
.jigoshop_cart .total{
    text-align: center;
    color: #E49F04;
    border-top: 0;
    border-bottom: 1px solid #C9E1EB;
    padding: 8px 0 6px 0;
    margin: 0 6px 0 9px !important;
}
.jigoshop_cart .js_widget_product_price{
    float: left;
}
.jigoshop_cart ul.cart_list li img{
    float: right;
}
.jigoshop_cart .buttons{
    text-align: center;
    padding: 0;
    margin: 4px;
}
.jigoshop_cart .buttons a{
    display: inline-block;
    float: none;
    margin: 4px;
}

.cart-collaterals{
    font-family: 'Raleway','Lucida Sans Unicode', sans-serif;
}
.cart-collaterals .cart_totals{
    width:auto;
}
.cart-collaterals .cart_totals h2{
    text-align:right;
}
.button.checkout{
    background: #0f3963;
}

.summary .button-alt{
    margin-top: 0;
}
/*cart/checkout page*/
td.actions .button-alt{
    margin-top: 0;
}
table.shop_table{
    font-family: 'Raleway','Lucida Sans Unicode', sans-serif;
}
form.cart .variations select{
    font-family: 'Raleway','Lucida Sans Unicode', sans-serif;
font-size:12px;
}

.quantity input.minus, .quantity input.plus{
	background-color:#4e83b8;
}

div.product div.images img
{
    background: none;
    border:none;
}
div.product #tabs
{
    padding:0;
}
div.product div.images div.thumbnails
{
    display:none;
}

ul.cart_list li img, ul.product_list_widget li img
{
    min-width:36px;
    max-width:36px;
    width:36px;
}
.js_widget_product_title{
    font-family: 'Raleway','Lucida Sans Unicode', sans-serif;
    font-weight:300;
}
