.alignright{
    margin-left:20px;
}
.alignleft{
    margin-right:20px;
}


.wp-caption .wp-caption-text, .gallery-caption
{
    color: #666666;
    font-family: 'Raleway','Lucida Sans Unicode', sans-serif;
    font-size: 1em;
}

/* Line 1304 */
.wp-caption .wp-caption-text
{
    margin-bottom: 0.6em;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 40px;
    position: relative;
}

.sales-page{
    font-size: 3em;
    line-height: 1;
    text-align: left;
}

img.alignleft, img.alignright, img.aligncenter
{
    margin-bottom: 0.5em;
    /*margin-bottom: 0;*/
}